@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Versão para Mobile First */


*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

body , html{
    background-image: url('imagens/Imagem\ fundo\ 2.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

h1 {
    text-align: center;
    color: darkorange;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.541);
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.253);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;

}

h1:hover {
    text-decoration: underline;

}

main {
    border: 1px solid black;
    background-color: white;
    width: 50vw;
    height: 50vh;
    position: absolute;
    transform: translate(0%, 0%);
    top: 50%;
    border-radius: 10px;
}

#Eua {
    color: black;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);

}

#Eua:hover {
    transform: scale(1.1);
}

#ImgEua {
    width: 100%;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#textEua {
    font-size: 0.9rem;
    padding: 5px;
}

#textEua:hover {
    transform: translate(1%, 1%);
}




@media (min-width: 768px) { /* Para telas de Pcs e Tvs. */
    body , html{
        background-image: url('imagens/IMAGEM\ DE\ FUNDO\ 1.webp');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }
    
    h1 {
        text-align: center;
        color: darkred;
        text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.541);
        font-style: italic;
        box-sizing: border-box;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.404);
        padding: 10px;
        border-radius: 10px;
        display: inline-block;
        position: relative;
        transform: translate(-50%, 0%);
        left: 50%;
    
    }
    
    h1:hover {
        text-decoration: underline;
    
    }

}




