@charset "UTF-8";

body{
    background-image: url('imagens/alotau-papua-new-guinea-png-canoe.jpg');
}

div.quadrado{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightblue;
    width: 300px;
    height: 300px;
}

div#q1 {
    background-color: skyblue;
}

div#q2 {
    background-image: linear-gradient(to bottom, yellow, orange);
}

div#q3 {
    background-image: url('imagens/pexels-ashutosh-varma-11539627.jpg');
}