@charset "UTF-8";

h1{
    outline: 5px dashed salmon;
    margin: 20px auto 40px auto;
    padding: 10px 10px 10px 10px;
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border: 10px solid black;
  
}


a{
    border: 10px solid red;
    padding: 10px;
}